.list-group-item {
  background-color: inherit !important;
}

.list-group {
  max-height: 350px;
  overflow: auto;
}

.song-name {
  padding-bottom: 10px;
}

div.table-responsive {
  overflow: visible;
}

tr {
  background-color: rgba(31, 34, 81, 0.80)
}

tr:hover {
  background-color: green;
}