.login.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* min-height: 600px; */
  padding:40px;
  text-align: center
}


span {
  margin: 5px;
}

#spotify-login {
  width: 240px;
  border-radius: 4em;
  margin: 10% auto;
}

#spotify-login:hover{
  cursor: pointer;
  transform: scale(1.225)
}

div .login-heading {
  background-color:  #282c34c5;
  margin: 10px auto;

  display: inline-block;
  color: white;
  padding: 10px;
  border-radius: 2em;
}


