@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700&display=swap');


body {
  justify-content: center;
  background-color: #282c34;
  background-image: url(images\crowd.jpg);
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  
}

body #root {
  font-family: 'Roboto', serif
}

@media only screen and (max-width: 992px) {
  body { 
    background-image: url(images/crowdsmall.jpg); 
  }
}

div h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 5em;
  color: white
}
